@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}

:root {
    --bg-color: #101010;
    --secound-bg-color: #191919;
    --text-color: #fff;
    --secound-color: #c6c9d8bf;
    --main-color: #f9004d;
    --big-font: 5.3rem;
    --h2-font: 4.2rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 15%;
    transition-duration: .3s;
}

.logo {
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar {
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar a {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 20px;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}

.navbar a:hover::after {
    width: 100%;
}

#menu-icon {
    font-size: 32px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.h-btn {
    padding: 0 20px;
    height: 40px;
    display: inline-block;
    line-height: 42px;
    background: var(--main-color);
    color: var(--text-color);
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .30s;
}

.h-btn:hover {
    transform: translateY(-5px);
}

section {
    padding: 120px 15%;
}

.home {
    height: 100vh;
    width: 100%;
    /* background: url(); */
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.home-text h1{
    margin: 20px 0px 20px;
    font-size: var(--big-font);
}

span {
    color: var(--main-color);
}

.home-text h3 {
    font-size: 25px;
    margin-bottom: 55px;
}

.home-text h4 {
    color: #585c63;
    font-size: 20px;
    letter-spacing: 2px;
}

header.sticky {
    padding: 12px 15%;
    background: var(--main-color);
}

.sticky .navbar a::after {
    background: var(--text-color);
}

.sticky .h-btn {
    background: var(--text-color);
    color: #000;
}

.about {
    background: var(--secound-bg-color);
    /* display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 2rem;
    */
    align-items: center;
    text-align: center;
}

.about-text h2 {
    font-size: var(--h2-font);
    margin-bottom: 20px;
    text-align: center;
}

.about-text h5 {
    font-size: 28px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    text-align: center;
}

.about-text p {
    text-align: center;
    margin-left: 20px;
    color: var(--secound-color);
    letter-spacing: 1px;
    line-height: 28px;
    /* max-width: 590px; */
    font-size: var(--p-font);
    margin-bottom: 45px;
}

/* Skills */
.skills {
    padding-top: 20px;
}

.skill-header {
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
}

.skill-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: #f9004d;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-box {
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before {
    width: 35px;
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #f9004d;
    transition: .5s;
}

.skill-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #f9004d;
    transition: .5s;
}

.img {
    width: 90px;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-title h3 {
    color: #fff;
    margin-top: 0.5rem;

}

.skill-icon {
    width: 85px;
}

/* Portfolio */
.portfolio {
    background: var(--secound-bg-color);
}

.center h2 {
    font-size: var(--h2-font);
    margin-bottom: 20px;
    text-align: center;
}

.center p {
    text-align: center;
    margin-left: 20px;
    color: var(--secound-color);
    letter-spacing: 1px;
    line-height: 28px;
    /* max-width: 590px; */
    font-size: var(--p-font);
    margin-bottom: 45px;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto)); 
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 4.5rem;
    cursor: pointer;
}

.box img {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .30s;
}

.box img:hover {
    transform: scale(1.1);
}

/* Contact */
.contact {
    background: var(--bg-color);
    align-items: center;
    text-align: center;
}

.contact-form h2{
    font-size: var(--h2-font);
    margin-bottom: 15px;
}

.contact-form p {
    color: var(--secound-color);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: var(--p-font);
    margin-bottom: 4.1rem;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: var(--secound-bg-color);
    color: var(--text-color);
    font-size: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form form .send {
    display: inline-block;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    width: 200px;
    transition: ease .35s;
    text-transform: uppercase;
}

.contact-form form .send:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

/* footer */
.footer {
    text-align: center;
    background-color: var(--secound-bg-color);
    padding: 34px;
}

.footer p {
    font-size: 17px;
    color: var(--secound-color);
    letter-spacing: 1px;

}

/* Media Queries */

@media (max-width: 1270px) {
    header {
        padding: 18px 4%;
        transition: .2s;
    }
    header.sticky {
        padding: 10px 4%;
        transition: .2s;
    }
    section {
        padding: 80px 4%;
        transition: .2s;
    }
    :root {
        --big-font: 4.8rem;
        --h2-font: 3.8rem;
        --p-font: 1rem;
        transition: .2s;
    }
}

@media (max-width: 990px) {
    .home {
        height: 85vh;
    }
    #menu-icon {
        display: initial;
    }
    .navbar{
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .30s;
    }
    .navbar a {
        display: block;
        padding: 1.1rem;
        margin: 1.3rem;
        border-left: 2px solid var(--text-color);
    }
    .navbar a:hover {
        background: var(--main-color);
    }
    .navbar a::after {
        display: none;
    }
    .navbar.active{
        top: 100%;
    }
    .about {
        align-items: center;
        text-align: center;
    }
    .box img {
        max-width: 100%;
        width: 760px;
        height: auto;
    }
}

/* skills media queries */
@media screen and (max-width: 990px) {
    .skills-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}
@media screen and (max-width: 650px) {
    .skills-container {
        grid-template-columns: 1fr;
    }
}
